<body class="login_body">
    <div class="logo_reg_display_container">
        <img class="logo_img" src="assets/images/logo.png" alt="OwUa Logo Image"/>
    </div>
    <div class="login_container">
        <h1 class="login_h1">Майже готово</h1>
        <p class="txt_option_login">За Вашою електронною адресою відправлено листа з посиланням.  Перейдіть за посиланням щоб завершити процедуру  відновлення паролю</p>
        <button class="continue_btn">Далі</button>
        <p class="no_link_p">Немає листа? <a class="send_again_link">Відправити ще раз</a></p>
    </div>
</body>