<div class="body_container">
  <h1>Завантажте ваше відео</h1>
  <form #videoForm="ngForm" enctype='multipart/form-data' (ngSubmit)="onSubmit(videoForm)">
    <div class="fill_info_container">
      <div>
        <h1>Назва відео</h1>
        <input class="inp" type="text" placeholder="|" id="title" name="title" [(ngModel)]="video.title" required>
      </div>
      <div>
        <h1>Опис відео</h1>
        <textarea class="inp" placeholder="|" id="description" name="description" [(ngModel)]="video.description" required></textarea>
      </div>
      <div>
        <h1>Оберіть відео</h1>
        <input type="file" accept=".mp4" (change)="chooseFile($event)" required>
      </div>
    </div>
    <div class="combo_container">
      <div class="s_con">
        <h1>Категорія відео</h1>
        <select class="custom_select" [(ngModel)]="video.categoryId" name="categoryId" required>
          <option value="0">Select category:</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.title }}</option>
        </select>
      </div>
      <div class="s_con">
        <h1>Статус відео</h1>
        <select class="custom_select" [(ngModel)]="video.accessStatusId" name="accessStatusId" required>
          <option value="0">Select status:</option>
          <option *ngFor="let status of statuses" [value]="status.id">{{ status.status }}</option>
        </select>
      </div>
    </div>
    <button class="save_btn">Зберегти</button>
    <div class="progress-bar-container">
      <div class="progress-bar" [style.width.%]="uploadProgress"></div>
    </div>
    <div class="popup" *ngIf="uploadCompleted">
      <h1> Upload is completed!</h1>
    </div>
  </form>
</div>
