<div class="body_container">
    <div class="top_menu_and_search_container">
        <div class="menu_container">
            <img class="logo_img" src="assets/images/LogoImg.png" alt="Logo Img">
        </div>
        <div class="search_container">
            <div class="input_container">
                <input class="search_input" placeholder="Введіть запит" type="text">
                <img class="search_icon" src="assets/icons/search_icon.png" alt="Search icon"/>
            </div>
        </div>
    </div>
    <div class="video_container">
        <!-- <iframe class="video" src="https://www.youtube.com/embed/5986IgwaVKE" frameborder="0" allowfullscreen></iframe> -->
        <ng-container *ngIf="video.path">
            <video class="video" [src]="video.path" controls width="300" height="200"></video>
          </ng-container>
    </div>
    <div class="bottom_container">
        <div class="comment_section_container">
            <div class="content_creator_info_container">
                <div class="creator_info_container">
                    <!-- <img class="creator_profile" src="assets/images/profileImg.png" alt=" Creator profile"> -->
                    <img class="creator_profile" *ngIf="video" [src]="video.avatarBytes | safe" alt="User Avatar">
                    <div class="information_container" *ngIf="video">
                        <h2 class="creator_title">{{ video.title }} {{ video.description }}</h2>
                        <p class="creator_name">{{video.displayName}}</p>
                        <p class="video_views_info">2,8 млн переглядiв 3 роки тому </p>
                        
                    </div>
                </div>
                <div class="buttons_section_container">
                    <button *ngIf="!ifCreator" class="follow_btn" (click)="handleSubscribe()" [disabled]="SubscribeBtn.Disabled" [class.active]="SubscribeBtn.ActiveBtn">Підписатись</button>
                    <div class="interection_btn_container">
                        <div class="like_displike_container">
                            <div class="like_container">
                                <button class="like_btn" (click)="handleLikeDislike(1)" [disabled]="isButtonDisabled" [class.active]="likebtnClick">
                                    <img class="like_img" src="assets/icons/like_icon.png" alt="Like Button">
                                  </button>
                                <div class="l_and_d_container">
                                    <p class="like_status" *ngIf="countLike">{{ countLike }}</p>
                                </div>
                            </div>
                            <div class="dislike_container">
                                <button class="dislike_btn" (click)="handleLikeDislike(2)" [disabled]="isButtonDisabled" [class.active]="dislikebtnClick">
                                    <img class="dislike_img" src="assets/icons/like_icon.png" alt="Dislike Button">
                                  </button>
                                <div class="l_and_d_container">
                                    <p class="dislike_status" *ngIf="countDislike">{{ countDislike }}</p>
                                </div>
                            </div>
                        </div>
                        <button class="share_btn" (click)="copyLink()">
                            <img src="assets/icons/share_icon.png" alt="Share Button">
                        </button>
                        <button class="share_btn" (click)="openPopup()">
                            <img class="saveVid" src="assets/icons/saveVid.png">
                        </button>
                        
                        <div class="popup" *ngIf="showPopup">
                            <img src="assets/icons/close.png" class="close-icon" (click)="closePopup()">
                            <div class="playlist_container">
                                <div class="add_el" (click)="toggleNestedPopup()">
                                    <img class="icon_img" src="/assets/icons/add.png" alt="">
                                    <h1>Create new Playlist</h1>
                                </div>
                                <div class="add_el" *ngFor="let playlist of myPlaylists" (click)="addToPlaylist(playlist)">
                                    <h2>{{ playlist.title }}</h2>
                                </div>
                                <div class="nested-popup" *ngIf="showNestedPopup">
                                    <h1>Create New Playlist!</h1>
                                    <input type="text" placeholder="Title" [(ngModel)]="playlistTitle" class="inp_p_title">
                                    <button class="sub_btn_p" (click)="submitPlaylist()">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="interection_vid_btn"><span class="three_dots">...</span></button> -->
                    </div>
                </div>
            </div>
            <div class="write_comment_container">
                
                  <ng-container *ngIf="user">
                    <ng-container *ngIf="user.pfp; then usePfp else turntoByte">
                    </ng-container>
                  </ng-container>
                  
                  <ng-template #usePfp>
                    <img class="creator_profile" [src]="user.pfp | safe" alt="User Avatar">
                  </ng-template>
                  
                  <ng-template #turntoByte>
                    <img class="creator_profile" [src]="user.photoUrl" alt="User Avatar">
                  </ng-template>
                  <!-- If photoUrl is null, display alternative image -->
                  <ng-template #noPhoto>
                    <img class="creator_profile" [src]="user ? (user.pfp | safe) : 'assets/images/unregisteredImg.png'" alt="Creator Logo"/>
                  </ng-template>
                <div class="leave_a_comment_container">
                    <input class="comment_input" type="text" placeholder="Введіть коментар" [(ngModel)]="commentText"> 
                    <button class="leave_comment_btn" (click)="leaveComment()">Залишити коментар</button>
                  </div>
            </div>
            <div class="allcommentsinsidehere" *ngFor="let comment of comments">
                <div class="comments_below_section">
                    <img class="creator_profile" src="assets/images/unregisteredImg.png" alt="No User Found" /> 
                    <div class="comment_guy_container">
                        <div class="comment_guy_time_data">
                            <span class="commnent_guy_name">Someone</span>
                            <span class="commnent_guy_name_msg_time">1 днів тому</span>
                        </div>
                        <span class="guy_comment">{{ comment.text }}</span>
                        <div class="guy_comment_interaction_container">
                            <!-- <img class="like_img_comment" src="assets/icons/like_icon.png" alt="Like Button">
                            <img class="dislike_img_comment" src="assets/icons/like_icon.png" alt="Dislike Button">
                            <button class="reply_comment_btn">Відповісти </button> -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="other_videos_section_container">
            <p class="also_might_like_p">Також вам можуть сподобатись: </p>
            <div *ngFor="let video of recommendedVideos" class="recommended_video_container">
                <video muted class="recommended_video_img" (click)="navigateToVideoDetails(video)">
                    <source [src]="video.path" type="video/mp4">
                </video>
                <div class="side_content_rec_vid_container">
                    <h4 class="rec_title_vid">{{ video.title }}</h4>
                    <p class="rec_creator_name_vid">Creator Name</p> <!-- You may replace this with actual creator data -->
                    <p class="watch_content_rec_vid">{{ video.views }} переглядiв {{ video.uploadDate | date: 'dd.MM.yyyy' }}</p>
                </div>
            </div>
        </div>
    </div>
    
  </div>
  