<body class="login_body">
    <div class="logo_reg_display_container">
        <img class="logo_img" src="assets/images/logo.png" alt="OwUa Logo Image"/>
    </div>
    <div class="login_container">
        <h1 class="login_h1">Вхід</h1>
        <p class="txt_option_login">Оберіть варіант входу</p>
        <button class="login_btn" (click)="googleSignIn()"><img src="assets/images/logo_google.png" alt="Google Logo Image"/>Увійти через Google</button>
        <button class="login_btn" (click)="navigateToSignIn()">
            <img src="assets/images/logo_mail.png" alt="Mail Logo Image"/>Вхід з електронною адресою
          </button>
        <p class="dont_have_an_account">Немає аккаунта? <a href="/Register" class="register_link">Зареєструватися</a></p>
    </div>
</body>