<body class="login_body">
    <div class="logo_reg_display_container">
        <img class="logo_img" src="assets/images/logo.png" alt="OwUa Logo Image"/>
    </div>
    <div class="login_container">
        <h1 class="login_h1">Відновлення паролю</h1>
        <p class="txt_option_login">Відновіть пароль через електронну пошту</p>
        <input id="email" class="login_input" placeholder="Введіть електронну пошту" type="text">
       <div class="proceeding_container">
            <button class="login_btn">Готово</button>
       </div>
       <a class="goback_link" (click)="goBack()">
        <img src="assets/icons/back_icon.png" alt="Go Back Icon Image"/>Повернутися
      </a>
    </div>
</body>