<div class="body_container">
    <div class="make_fixed">
        <div class="menu_container" (mouseenter)="expandMenu()" (mouseleave)="resetMenu()">
            <img class="logo_closed_menu" [src]="menuLogoSrc" alt="OwUa Logo Image"/>
            <div class="more_icons_container">
                <div class="icon_container">
                    <img class="icon" src="assets/icons/home_icon.png" alt="Home Icon"/>
                    <span class="icon_text">Головна </span>
                </div>
                <div class="icon_container">
                    <img class="icon" src="assets/icons/videos_icon.png" alt="Videos Icon"/>
                    <span class="icon_text">Підписки</span>
                </div>
                <div class="icon_container"  (click)="toggleIcon('Categories')">
                    <img class="icon" src="assets/icons/category_icon.png" alt="Category Icon"/>
                    <span class="icon_text">
                      Особистий кабінет <img class="arrow_icon" src="assets/icons/arrow_icon.png" alt="Arrow Icon"/>
                    </span>
                  </div>
                  <!-- Additional icons for Categories -->
                  <div *ngIf="expandedIcons.get('Categories')" class="additional_icons">
                    <div class="icon_container">
                        <img class="icon" src="assets/icons/profile_icon.png" alt="Videos Icon"/>
                        <span>Підписки</span>
                    </div>
                    <div class="icon_container">
                        <img class="icon" src="assets/icons/history_icon.png" alt="Videos Icon"/>
                        <span>Історія перегляду</span>
                    </div>
                  </div>
                
                  <!-- Menu Icon with arrow -->
                  <div class="icon_container" (click)="toggleIcon('Menu')">
                    <img class="icon" src="assets/icons/menu_icon.png" alt="Menu Icon"/>
                    <span class="icon_text" >
                      Плейлисти <img class="arrow_icon" src="assets/icons/arrow_icon.png" alt="Arrow Icon"/>
                    </span>
                  </div>
                  <!-- Additional icons for Menu -->
                  <div *ngIf="expandedIcons.get('Menu')" class="additional_icons">
                    <div class="icon_container">
                        <img class="icon" src="assets/icons/playlist_icon.png" alt="Videos Icon"/>
                        <span>Ai mini Каверы</span>
                    </div>
                    <div class="icon_container">
                        <img class="icon" src="assets/icons/playlist_icon.png" alt="Videos Icon"/>
                        <span>Inbossik list</span>
                    </div>
                  </div>
                <div class="icon_container ">
                    <img class="icon hidden_icon" src="assets/icons/like_icon.png" alt="Menu Icon"/>
                    <span class="icon_text">Уподобані</span>
                </div>
                <div class="icon_container">
                    <img class="icon hidden_icon" src="assets/icons/share_icon.png" alt="Menu Icon"/>
                    <span class="icon_text">Керування підписками</span>
                </div>
                <div class="icon_container">
                    <img class="icon hidden_icon" src="assets/icons/settings_icon.png" alt="Menu Icon"/>
                    <span class="icon_text">Налаштування</span>
                </div>
                <div class="icon_container">
                    <img class="icon hidden_icon" src="assets/icons/warning_icon.png" alt="Menu Icon"/>
                    <span class="icon_text">Довідка</span>
                </div>
                <div class="icon_container">
                    <img class="icon hidden_icon" src="assets/icons/flag_icon.png" alt="Menu Icon"/>
                    <span class="icon_text">Сигнал адмінам</span>
                </div>
            </div>
            <div *ngIf="user" class="profile_container_btn">
                <img class="profile_img" [src]="user.photoURL" alt="Profile img"/>
                <div class="icon_text">
                    <h4 class="user_credentials_h4">{{ user.email }}</h4>
                    <p class="user_credentials_p">&#64;username</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content_container">
        <div class="input_container">
            <input class="search_input" placeholder="Введіть запит" type="text">
            <img class="search_icon" src="assets/icons/search_icon.png" alt="Search icon"/>
        </div>
        <div class="category_container">
            <button class="category_btn">Усi</button>
            <button class="category_btn">Мiкси</button>
            <button class="category_btn">Iгри</button>
            <button class="category_btn">Музика</button>
            <button class="category_btn active_category_btn">смішні відео</button>
            <button class="category_btn">Мультфільми</button>
            <button class="category_btn ">Реп</button>
            <button class="category_btn">Ви дивилися</button>
            <button class="category_btn">Новинки для вас</button>
        </div>
        <div class="videos_container">
            <div class="video">
                <img class="video_img" src="https://images.pexels.com/videos/1722967/free-video-1722967.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Video Content">
                <div class="creator_content_container">
                    <img class="creator_pfp" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/" alt="Creator Profile Image">
                    <div class="video_information_container">
                        <h3 class="video_title">Tokyo Ghoul OP [Unravel] ニメ</h3>
                        <h4 class="video_creator_name">Ai Mori</h4>
                        <p class="video_details">428 тис. переглядiв 1 рiк тому</p>
                    </div>
                </div>
            </div>
            <div class="video">
                <img class="video_img" src="https://images.pexels.com/videos/1722967/free-video-1722967.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Video Content">
                <div class="creator_content_container">
                    <img class="creator_pfp" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/" alt="Creator Profile Image">
                    <div class="video_information_container">
                        <h3 class="video_title">Tokyo Ghoul OP [Unravel] ニメ</h3>
                        <h4 class="video_creator_name">Ai Mori</h4>
                        <p class="video_details">428 тис. переглядiв 1 рiк тому</p>
                    </div>
                </div>
            </div>
            <div class="video">
                <img class="video_img" src="https://images.pexels.com/videos/1722967/free-video-1722967.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Video Content">
                <div class="creator_content_container">
                    <img class="creator_pfp" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/" alt="Creator Profile Image">
                    <div class="video_information_container">
                        <h3 class="video_title">Tokyo Ghoul OP [Unravel] ニメ</h3>
                        <h4 class="video_creator_name">Ai Mori</h4>
                        <p class="video_details">428 тис. переглядiв 1 рiк тому</p>
                    </div>
                </div>
            </div>
            <div class="video">
                <img class="video_img" src="https://images.pexels.com/videos/1722967/free-video-1722967.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Video Content">
                <div class="creator_content_container">
                    <img class="creator_pfp" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/" alt="Creator Profile Image">
                    <div class="video_information_container">
                        <h3 class="video_title">Tokyo Ghoul OP [Unravel] ニメ</h3>
                        <h4 class="video_creator_name">Ai Mori</h4>
                        <p class="video_details">428 тис. переглядiв 1 рiк тому</p>
                    </div>
                </div>
            </div>
            <div class="video">
                <img class="video_img" src="https://images.pexels.com/videos/1722967/free-video-1722967.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Video Content">
                <div class="creator_content_container">
                    <img class="creator_pfp" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/" alt="Creator Profile Image">
                    <div class="video_information_container">
                        <h3 class="video_title">Tokyo Ghoul OP [Unravel] ニメ</h3>
                        <h4 class="video_creator_name">Ai Mori</h4>
                        <p class="video_details">428 тис. переглядiв 1 рiк тому</p>
                    </div>
                </div>
            </div><div class="video">
                <img class="video_img" src="https://images.pexels.com/videos/1722967/free-video-1722967.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Video Content">
                <div class="creator_content_container">
                    <img class="creator_pfp" src="https://hypixel.net/attachments/screenshot_2019-12-29-15-15-35-358-jpeg.1458269/" alt="Creator Profile Image">
                    <div class="video_information_container">
                        <h3 class="video_title">Tokyo Ghoul OP [Unravel] ニメ</h3>
                        <h4 class="video_creator_name">Ai Mori</h4>
                        <p class="video_details">428 тис. переглядiв 1 рiк тому</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>